html{
    margin:0;
    padding:0
}

body{
    background-color:#d5df00;
    margin:0;
    padding:0
}


.grid-container{
    display:grid;
    grid-template-columns:repeat(9, minmax(80px,100px));
    grid-template-rows: 400px minmax(80px,100px);
    justify-content: center;
    margin:10px;
}

.grid-container > img{
    height: 100%;
    width: 100%;
    object-fit:cover;
    cursor: pointer;
}

.main-img{
    grid-column: 1 / -1;
    grid-row: 1 / 2;
    background-color: rgb(184, 184, 184);
}

.main-img > img{
    height: 100%;
    width: 100%;
    object-position: center center;
    object-fit:cover;
}

@media only screen and (max-width: 600px) {
    .grid-container{
        grid-template-columns:repeat(3, 1fr);
        grid-template-rows: 400px repeat(3, minmax(50px,100px));
    }
}